@import "tailwindcss";

/* enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --color-primary: 79 70 229;      /* indigo-600 */
  --color-primary-hover: 67 56 202; /* indigo-700 */
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
@layer utilities {
  /* ===== App ===== */
   .theme-transition {
    @apply transition-colors duration-300 ease-in-out;
  }

 .text-primary {
    color: rgb(var(--color-primary));
  }

  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-primary-hover:hover {
    background-color: rgb(var(--color-primary-hover));
  }

  .border-primary {
    border-color: rgb(var(--color-primary));
  }

  .ring-primary {
    --tw-ring-color: rgb(var(--color-primary));
  }


  .app-bg {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }

  /* ===== Cards ===== */
  .card-base {
    @apply rounded-lg shadow-md bg-white dark:bg-gray-800;
  }

  .card-title {
    @apply text-sm text-gray-500 dark:text-gray-400;
  }

  .card-count {
    @apply text-xl font-semibold;
  }

  /* ===== Layout ===== */
  .section {
    @apply p-4 space-y-4;
  }

  /* ===== Inputs ===== */
  .input-base {
    @apply w-full rounded-md border px-3 py-2
      bg-white text-gray-900
      dark:bg-gray-700 dark:text-gray-100
      dark:border-gray-600
      focus:outline-none focus:ring-2 focus:ring-indigo-500;
  }

  /* ===== Buttons ===== */
  .btn-primary {
    @apply px-4 py-2 rounded-md
      bg-indigo-500 text-white
      hover:bg-indigo-700
      dark:bg-indigo-500 dark:hover:bg-indigo-600;
  }

  .btn-ghost {
    @apply px-3 py-2 rounded-md
      text-gray-600 hover:bg-gray-200
      dark:text-gray-300 dark:hover:bg-gray-700;
  }
  .card-base {
    @apply rounded-xl shadow-md bg-white dark:bg-gray-800;
  }
}

